<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>New Note</title>
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>
<body>
<h1>New Note</h1>

<form th:action="@{/newNote}" th:object="${note}" method="post">
    <p>
        <label for="title">Title:</label>
        <input type="text" th:field="*{title}" required/>
    </p>
    <p>
        <label for="content">Content:</label>
        <textarea th:field="*{content}" required></textarea>
    </p>
    <p>
        <input type="submit" value="Submit" class="btn btn-primary"/>
    </p>
</form>

<p><button onclick="location.href='/'" class="btn btn-danger">No</button></p>
</body>
</html>
